@media (min-width: 768px) {
    header img {
        margin: 2.5rem 0 2.5rem 2.5rem;
    }

    .area_texto {
        margin-left: 2.5rem;
    }

    .atencao {
        margin-left: 2.5rem;
    }

    .botoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 2.5rem;
    }

    .btn_criptografar,
    .btn_descriptografar {
        width: 21.8rem;
        font-size: 1.5rem;
    }

    .resultado_mensagem {
        font-size: 2rem;
    }

    .resultado_texto {
        font-size: 1.25rem;
    }

    .resultado_criptografado {
        width: 33rem;
        font-size: 2rem;
        overflow-wrap: break-word;
    }

}

@media (min-width: 1281px) {

    body {
        display: flex;
        gap: 6.25rem;
    }

    .area_texto {
        width: 37.5rem;
        margin-top: 9.3rem;
        margin-bottom: 1.25rem;
    }

    .atencao_botoes {
        margin-top: 1.25rem;
    }

    .atencao {
        margin-bottom: 1rem;
    }

    .atencao {
        font-size: 1rem;
    }

    .btn_criptografar,
    .btn_descriptografar {
        width: 18.1rem;
        font-size: 1rem;
    }

    .resultado {
        width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 1.25rem;
    }

    .resultado_mensagem {
        font-size: 1.5rem;
    }

    .resultado_texto {
        font-size: 1rem;
    }

    .imagem {
        display: block;
        width: 18.7rem;
    }

    .resultado_criptografado {
        width: 300px;
        overflow-wrap: break-word;
        font-size: 1.5rem;
    }
}